<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.song.howdo.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.song.howdo.model.Article" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="is_publish" property="isPublish" jdbcType="VARCHAR" />
    <result column="is_comment" property="isComment" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="enable_flag" property="enableFlag" jdbcType="VARCHAR" />
    <result column="cate_id" property="cateId" jdbcType="BIGINT" />
    <result column="read_num" property="readNum" jdbcType="BIGINT" />
    <result column="comment_num" property="commentNum" jdbcType="BIGINT" />
      <result column="praise_num" property="praiseNum" jdbcType="BIGINT" />
      <result column="collect_num" property="collectNum" jdbcType="BIGINT" />
      <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="object_version_number" jdbcType="BIGINT" property="objectVersionNumber" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="last_updated_by" jdbcType="BIGINT" property="lastUpdatedBy" />
    <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <association property="user" javaType="com.song.howdo.model.User">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="head_pic" property="headPic" jdbcType="VARCHAR" />
        <result column="signature" property="signature" jdbcType="VARCHAR" />
    </association>
  </resultMap>

    <insert id="addArticle">
        insert howdo_article(title,content,is_publish,user_id,enable_flag,cate_id,read_num,is_comment)
        values(#{article.title},#{article.content},#{article.isPublish},#{article.userId},#{article.enableFlag},#{article.cateId},#{article.readNum},#{article.isComment})
    </insert>

    <select id="queryArticle" resultMap="BaseResultMap">
        select * from howdo_article
        where title=#{article.title}
        and content=#{article.content}
        and user_id=#{article.userId}
        and cate_id=#{article.cateId}
    </select>

    <select id="queryArticleById" resultMap="BaseResultMap">
        select * from howdo_article where id=#{id}
    </select>

    <select id="queryArticles" resultMap="BaseResultMap">
        select ha.id,ha.user_id,ha.title,ha.content,ha.last_update_date,ha.is_comment,ha.read_num,count(hc.id) comment_num from
        howdo_article ha left join howdo_comment hc
        on ha.id=hc.art_id where ha.user_id=#{userId} and ha.is_publish=#{isPublish} and ha.enable_flag='Y'
        group by ha.id,ha.user_id,ha.title,ha.content,ha.read_num
        order by ha.last_update_date desc
    </select>

    <select id="queryArticleCount" resultType="int">
        select count(*) from howdo_article where user_id=#{userId} and is_publish=#{isPublish} and enable_flag='Y'
    </select>

    <update id="updateArticleIsComment">
        update howdo_article set is_comment=#{isComment} where id=#{artId}
    </update>

    <delete id="deleteArticle">
        delete from howdo_article where id=#{artId}
    </delete>

    <select id="queryArticlesByDim" resultMap="BaseResultMap">
        select ha.id,ha.user_id,ha.title,ha.content,ha.last_update_date,ha.is_comment,ha.read_num,count(hc.id) comment_num from
        howdo_article ha left join howdo_comment hc
        on ha.id=hc.art_id where ha.user_id=#{userId} and ha.enable_flag='Y'
        and ha.title like concat(concat('%',#{title}),'%')
        group by ha.id,ha.user_id,ha.title,ha.content,ha.read_num
        order by ha.last_update_date desc
    </select>

    <select id="queryArticleDetail" resultMap="BaseResultMap">
        select ha.id,ha.user_id,ha.title,ha.content,ha.last_update_date,
                ha.is_comment,ha.read_num,hca.`name` category from
                howdo_article ha left join howdo_category hca
				on ha.cate_id=hca.id
				where ha.id=#{artId}
    </select>

    <select id="queryArticleNumById" resultType="long">
        select count(id) from howdo_article where user_id=#{userId} and enable_flag='Y' and is_publish='Y'
    </select>

    <select id="queryArticleCommNum" resultType="long">
        select count(id) from howdo_comment where art_id in(select id from howdo_article where user_id=#{userId} and is_publish='Y' and enable_flag='Y')
    </select>

    <select id="queryObservedNum" resultType="long">
        select count(id) from howdo_concern where observed=#{userId}
    </select>

    <select id="queryCollectNum" resultType="long">
        select count(id) from howdo_collect where art_id in (select id from howdo_article where user_id=#{userId} and is_publish='Y' and enable_flag='Y')
    </select>

    <update id="updateArticleReadNum">
        update howdo_article set read_num=#{readNum} where id=#{artId}
    </update>

    <select id="queryCommNum" resultType="long">
        select count(*) from howdo_comment where art_id=#{artId}
    </select>

    <select id="queryPraiseNum" resultType="long">
      select count(*) from howdo_praise where art_id=#{artId}
    </select>

    <select id="queryCollNum" resultType="long">
      select count(*) from howdo_collect where art_id=#{artId}
    </select>

    <select id="queryArticleAll" resultMap="BaseResultMap">
        select ha.*,hu.id,hu.nickname,hu.head_pic,hu.signature from howdo_article ha,howdo_user hu
        where is_publish='Y' and enable_flag='Y' and hu.id=ha.user_id
        <if test="cateId != null">
            and ha.cate_id=#{cateId}
        </if>
        order by last_update_date desc
    </select>

    <select id="queryArticleCollect" resultMap="BaseResultMap">
        select ha.*,hu.id,hu.nickname,hu.head_pic,hu.signature from howdo_article ha,howdo_user hu,howdo_collect hc
        where is_publish='Y' and enable_flag='Y' and hu.id=ha.user_id and hc.art_id=ha.id and hc.user_id=#{userId}
        order by last_update_date desc
    </select>

    <update id="updateArticle">
        update howdo_article set title=#{article.title}, content=#{article.content},
        is_publish=#{article.isPublish}, cate_id=#{article.cateId} where id=#{article.id}
    </update>

    <select id="queryFeatureArticle" resultMap="BaseResultMap">
        select ha.*,hu.id,hu.nickname,hu.head_pic,hu.signature from howdo_article ha,howdo_user hu
        where is_publish='Y' and enable_flag='Y' and hu.id=ha.user_id
				and ha.read_num=(select max(read_num) from howdo_article)
        order by last_update_date desc
    </select>

    <select id="queryArticlesByAdmin" resultMap="BaseResultMap">
        select * from howdo_article where enable_flag=#{enableFlag} order by last_update_date desc
    </select>

    <select id="queryArticlesByDimAdmin" resultMap="BaseResultMap">
        select * from howdo_article where title like concat(concat('%',#{title}),'%')
    </select>

    <select id="queryArticleCountAdmin" resultType="int">
        select count(*) from howdo_article where enable_flag=#{enable}
    </select>

    <update id="banArticle">
        update howdo_article set enable_flag=#{enable} where id=#{artId}
    </update>

    <select id="searchArticles" resultMap="BaseResultMap">
        select ha.*,hu.id,hu.nickname,hu.head_pic,hu.signature from howdo_article ha,howdo_user hu
        where is_publish='Y' and enable_flag='Y' and hu.id=ha.user_id
        and title like concat(concat('%',#{title}),'%')
        order by last_update_date desc
    </select>

</mapper>