<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.song.howdo.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.song.howdo.model.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="head_pic" property="headPic" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="object_version_number" jdbcType="BIGINT" property="objectVersionNumber" />
    <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="last_updated_by" jdbcType="BIGINT" property="lastUpdatedBy" />
    <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
  </resultMap>

  <select id="queryUsers" resultMap="BaseResultMap">
    select * from howdo_user
  </select>
  
  <select id="queryUserByAccount" resultMap="BaseResultMap">
  	select hu.*,hr.role_name from howdo_user hu,howdo_user_role hur,howdo_role hr
    where hu.account=#{account} and hu.id=hur.user_id and hur.role_id=hr.id
  </select>

  <select id="queryUserByAccount1" resultMap="BaseResultMap">
    select hu.* from howdo_user hu
    where hu.account=#{account}
  </select>
  
  <select id="queryUserRoles" resultType="String">
  	select role_name from howdo_user hu 
	inner join howdo_user_role hur on hu.id=hur.user_id
	inner join howdo_role hr on hur.role_id=hr.id and hu.account=#{account}
  </select>
  
  <insert id="addUser">
  	insert howdo_user(account,password,nickname,email,head_pic) 
  	values (#{user.account}, #{user.password}, #{user.nickname}, 
  	#{user.email}, #{user.headPic})
  </insert>

    <select id="queryUserById" resultMap="BaseResultMap">
        select * from howdo_user where id=#{id}
    </select>

  <select id="queryIConcerned" resultMap="BaseResultMap">
    select hu.* from howdo_user hu,howdo_concern hc
    where hu.id=hc.observed and hc.user_id=#{userId}
  </select>

  <select id="queryConcernMe" resultMap="BaseResultMap">
    select hu.* from howdo_user hu,howdo_concern hc
    where hu.id=hc.user_id and hc.observed=#{userId}
  </select>

  <select id="queryIConcernedNum" resultType="int">
    select count(*) from howdo_concern where user_id=#{userId}
  </select>

  <select id="queryConcernMeNum" resultType="int">
    select count(*) from howdo_concern where observed=#{userId}
  </select>

  <update id="updateUser">
    update howdo_user set nickname=#{user.nickname},sex=#{user.sex},birthday=#{user.birthday},
    address=#{user.address},email=#{user.email},signature=#{user.signature} where id=#{user.id}
  </update>

  <update id="updatePhoto">
    update howdo_user set head_pic=#{headPic} where id=#{id}
  </update>

  <select id="queryPassword" resultType="String">
    select password from howdo_user where account=#{account}
  </select>

  <update id="updatePassword">
    update howdo_user set password=#{password} where account=#{account}
  </update>

  <insert id="addFollowed">
    insert howdo_concern(user_id,observed) values (#{userId}, #{observed})
  </insert>

  <delete id="delFollowed">
    delete from howdo_concern where user_id=#{userId} and observed=#{observed}
  </delete>

</mapper>